.row.main-content
  .six.columns
    .bubble
      - if has_valid_token?
        - if params[:rsvp].nil?
          %form{ action: '/rsvp', method: 'post' }
            %h2 Svara på inbjudan

            %fieldset
              %label{ for: 'guest_name' } Ditt namn
              %input#guest_name{ type: 'text', name: 'name', value: guest.name }

              %label{ for: 'guest_company' } Företag
              %input#guest_company{ type: 'text', name: 'company', value: guest.company }

              %small
                %em
                  (Inbjudan är personlig)

            %fieldset
              %h4 RSVP

              %ul.sittings
                - sittings.each do |sitting|
                  %li.sitting{ class: sitting.guest_status_class }
                    %label
                      - if sitting.seats_available?
                        - if guest.has_checked_sitting?(sitting)
                          %input{ type: 'radio', name: 'sitting_key', value: sitting.key, checked: '' }
                        - else
                          %input{ type: 'radio', name: 'sitting_key', value: sitting.key }

                      %span
                        = sitting.title
                        - if sitting.full? and guest.has_checked_sitting?(sitting)
                          %small= 'Du har valt den här sittningen som nu är fullbokad.'
                        -else
                          %small= sitting.guest_status_text
              %input{ type: 'hidden', name: 'token', value: guest.token }
              %input{ :type => 'submit', :value => 'Skicka' }
        - else
          - if guest.declined?
            %h2 Vad synd
            %p Hoppas att du kan vara med när vi firar nästa gång.
          - else
            %h2= "Tack #{guest.name}!"
            %p Nu är det bara att räkna ner dagarna till 20-årskalaset.

          %small.alert-message
            Det är fortfarande möjligt att
            %a{ href: "/?token=#{params[:token]}" } ändra
            ditt svar.

          %figure.add-bottom
            %img{ src: '/images/honka3.jpg' }
            %small
              Bild: Det här är Athegamannen, som styrde oss rätt de första åren

      - else
        %figure.add-bottom
          %img{ src: '/images/honka3.jpg' }
          %small
            Bild: Det här är Athegamannen, som styrde oss rätt de första åren

        %p Anmälningen till Athegas 20-årskalas är stängd.
        - if is_coming?
          %p
            Enligt våra noteringar har du angett att du vill komma på 20-årskalaset.
          %p Vi ses!

      %h2 Retrolook?

      %p
        Nej, vi har inte helt tappat färgseendet och sajten är inte hackad.

      %p
        %a{ href: "http://1997.athega.se" } Så här
        såg faktiskt Athegas hemsida ut när vi drog igång 1997. Det var en hel del rejäla
        utmaningar att designa för webbläsare som Internet Explorer 4 och Netscape 4 som precis
        hade släppts. Den vanligaste upplösningen var 800x600px och om användaren hade mer än 256
        färger var det lyx. Därför är alla färger "webbsäkra", dvs en av de första 256 färgerna.

      %p
        I en liten låda i ett undangömt hörn hittade vi faktiskt vår orignalsajt, så som den såg
        ut för 20 år sedan. Helt oförändrad, fungerar den faktiskt fortfarande till och
        med i dagens webbläsare. Det blir litet artifakter i de mobila varianterna, men det bjuder
        vi på. Titta gärna på källkoden!

      %p
        %a{ href: "http://1997.athega.se" } 1997.athega.se

  .nine.offset-by-one.columns
    .bubble
      %h1 Athega fyller 20 år!

      %h3.alert-message Sista anmälningsdag: 27 okt

      %p
        Det vill vi fira med dig!

      %p
        Därför smäller vi upp dörrarna den
        %strong 9 november från 17:30
        på
        %strong Orangeriet
        nere vid kajen på Norrmälarstrand.

      %p
        %a{ href: 'mailto:torbjorn.nilsson@athega.se'} Torbjörn Nilsson
        svarar gärna på dina frågor.

      %p
        = succeed '.' do
          Följ oss gärna på
          %a{ href: 'https://twitter.com/athega' } @athega
          och om du vill twittra om härligheten använder du hashtaggen
          %a{ href: 'https://twitter.com/#!/search/realtime/%23athega20' } #athega20

      %h2 Vägbeskrivning
      %p
        %a{ href: 'http://www.orangerietbar.se/' } Orangeriet
        ligger på
        %strong Norr Mälarstrand Kajplats 464.
      %p
        Närmaste tunnelbanestation är Rådhuset
        %em (uppgång Parmmätargatan).

      %iframe{ src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2035.3878984059213!2d18.04150151607219!3d59.32647748165787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f77d923f1767d%3A0xb53763fe311281d1!2sOrangeriet+Bar+%26+Caf%C3%A9!5e0!3m2!1ssv!2sse!4v1507582207371", frameborder: 0, style: "border:0; width:100%; height:350px;", allowfullscreen: true }
