.row.main-content
  .six.columns
    .bubble
      - if has_valid_token?
        - if params[:rsvp].nil?
          %form{ action: '/rsvp', method: 'post' }
            %h2 Svara på inbjudan

            %fieldset
              %label{ for: 'guest_name' } Ditt namn
              %input#guest_name{ type: 'text', name: 'name', value: guest.name }

              %label{ for: 'guest_company' } Företag
              %input#guest_company{ type: 'text', name: 'company', value: guest.company }

              %small
                %em
                  (Inbjudan är personlig)

            %fieldset
              %h4 RSVP

              %ul.sittings
                - sittings.each do |sitting|
                  %li.sitting{ class: sitting.guest_status_class }
                    %label
                      - if sitting.seats_available?
                        - if guest.has_checked_sitting?(sitting)
                          %input{ type: 'radio', name: 'sitting_key', value: sitting.key, checked: '' }
                        - else
                          %input{ type: 'radio', name: 'sitting_key', value: sitting.key }

                      %span
                        = sitting.title
                        - if sitting.full? and guest.has_checked_sitting?(sitting)
                          %small= 'Du har valt den här sittningen som nu är fullbokad.'
                        -else
                          %small= sitting.guest_status_text
              %input{ type: 'hidden', name: 'token', value: guest.token }
              %input{ :type => 'submit', :value => 'Skicka' }
        - else
          - if guest.declined?
            %h2 Vad synd
            %p Hoppas att du kan vara med när vi firar nästa gång.
          - else
            %h2= "Tack #{guest.name}!"
            %p Nu är det bara att räkna ner dagarna till 20-årskalaset.

          %small.alert-message
            Det är fortfarande möjligt att
            %a{ href: "/?token=#{params[:token]}" } ändra
            ditt svar.

          %figure.add-bottom
            %img{ src: '/images/honka3.jpg' }
            %small
              Bild: Det här är Athegamannen, som styrde oss rätt de första åren

      - else
        %figure.add-bottom
          %img{ src: '/images/honka3.jpg' }
          %small
            Bild: Det här är Athegamannen, som styrde oss rätt de första åren

        %p Anmälningen till Athegas 20-årskalas är stängd.
        - if is_coming?
          %p
            Enligt våra noteringar har du angett att du vill komma på 20-årskalaset.
          %p Vi ses!

  .nine.offset-by-one.columns
    .bubble
      %h1 Athega fyller 20 år!

      %h3.alert-message Sista anmälningsdag: 6 nov

      %p
        Det vill vi fira med dig!

      %p
        Därför smäller vi upp dörrarna den
        %strong 9 november från 17:30
        på
        %strong Orangeriet
        nere vid kajen på Norrmälarstrand.

      %p
        %a{ href: 'mailto:torbjorn.nilsson@athega.se'} Torbjörn Nilsson
        svarar gärna på dina frågor.

      %p
        = succeed '.' do
          Följ oss gärna på
          %a{ href: 'https://twitter.com/athega' } @athega
          och om du vill twittra om härligheten använder du hashtaggen
          %a{ href: 'https://twitter.com/#!/search/realtime/%23athega20' } #athega20

      %h2 Vägbeskrivning
      %p
        %a{ href: 'http://www.orangerietbar.se/' } Orangeriet
        ligger på
        %strong Norr Mälarstrand Kajplats 464.
      %p
        Närmaste tunnelbanestation är Rådhuset
        %em (uppgång Parmmätargatan).

      %a{ href: 'https://goo.gl/maps/fwfifiG6nVz' }
        %img{ src: "https://maps.googleapis.com/maps/api/staticmap?center=Orangeriet,%20Norr%20Mälarstrand%20Kajplats%20464,%20Stockholm&markers=color:0xFF6600|Norr%20Mälarstrand%20Kajplats%20464&zoom=15&size=245x245&sensor=false&scale=2" }
