%div Hej #{name}!
%br
%br
%div
  Den 3:e november 1997 klev vi för första gången in på vårt nya, egna kontor på Kungsgatan i Stockholm.
  På radion spelades Barbie Girl med Aqua. Vi hade en idé som skulle förverkligas.
  Idén var att bygga webbapplikationer!
%br
%blockquote
  %em – “Jaha, typ hemsidor till företag då?”
  %br
  %em – “Nej nej, applikationer fast med webbgränssnitt och nätverket kan vara Internet”
  , förklarade vi.
  %br
  %em – “Hmm ok, men ni kanske ska fundera på hur ni definierar er affärsidé”
  , fick vi då höra ganska ofta från alla de där rådgivarna som dyker upp när man startar nytt.
%br
%div 20 år senare har det blivit många roliga och härliga webbapplikationer och projekt.
%br
%br
%div
  #{invited_by} tycker det skulle vara mycket trevligt om du vill komma på 20-årskalas
  %strong torsdagen den 9 november
  och fira med oss.
%br
%div
  Vi börjar i AW-stil 17:30 med fördrink och snacks och från kl 19:00 serveras en mingelbuffé.
  Födelsedagskalaset fortsätter med hög stämning så länge ni orkar, men senast till 24:00.
%br
%div
  Anmäl dig här,
  %strong senast 27 oktober:
  #{"<a href=\"#{link}\">#{link}</a>"} (OBS! Personlig inbjudan)
%br
%br
%div Väl mött!
