%div Hej #{name}!
%br
%span
%div #{invited_by} tycker det skulle vara mycket trevlig om du vill fira Athega som fyller 20 år, torsdagen den 9 november.
%div Vi börjar i AW-stil 17:30 med fördrink och snacks och från kl 19:00 serveras en mingelbuffé. Födelsedagskalaset fortsätter med hög stämning så länge ni orkar, men senast till 24:00.
%br
%div Anmäl dig här: #{"<a href=\"#{link}\">#{link}</a>"} (OBS! Personlig inbjudan)
%br
%br
%div Väl mött!
